.flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    border: 2px solid darkblue;
    border-radius: 10px;
    background: linear-gradient(90deg, lightblue, pink);
}
.box {
    width: 99%;
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding: 5px;
    text-align: center;
}


a:hover{
    color: red;
}

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

.no-underline{
    text-decoration: none;
}

h1:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: red;
}