body{
  background-color: lightblue;
}

.btn {
  border: 2px solid black;
  box-shadow: 3px 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.btn:hover{
  box-shadow: 3px 3px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

.btn-red {
  background-color: red;
}

.btn-red:hover {
  background-color: darkred;
}

.btn-green {
  background-color: green;
  margin-left: 10px;
}

.btn-green:hover {
  background-color: darkgreen;
}
